body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.row {
  margin-bottom: 5px;
}

.card-panel {
  padding: 15px;
}

nav ul li a.active {
  background-color: #0277bd;
}

.tabs .tab a {
  color:#000;
} /*Black color to the text*/

.tabs .tab a:hover {
  background-color:transparent;
  color:#000;
} /*Text color on hover*/

.tabs .tab a.active {
  background-color:transparent;
  color:#000;
} /*Background and text color when a tab is active*/

.tabs .indicator {
  background-color:#01579b;
} /*Color of underline*/

.tabs .tab a:focus, .tabs .tab a:focus.active {
  background-color:transparent;
}
